/* General and Nav */

* {
  font-family: "Special Elite", cursive;
}

.link-text {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0;
  margin-right: 2px;
  padding: 10px;
  padding-top: 5px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.link-text i,
.link-text span {
  font-size: 1.2em;
  margin: 0;
  margin-right: 2px;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.brand-logo {
  margin-left: 20px;
}

/* Slider Section */

.caption1 {
  font-family: "Grenze Gotisch", cursive;
  text-transform: capitalize;
  font-size: 3.7em;
  font-weight: 500;
  text-shadow: 3px 2px #aaa;
}

.caption2 {
  font-family: "Grenze Gotisch", cursive;
  font-size: 2.2em;
  font-weight: 300;
  text-shadow: 1px 1px #aaa;
}

.linear-gradient {
  background: -o-repeating-linear-gradient(
    324deg,
    #f0f4c3,
    #9c98dd 35%,
    #f0f4c3 65%
  );
  background: repeating-linear-gradient(
    0.35turn,
    #f0f4c3,
    #9c98dd 35%,
    #f0f4c3 65%
  );
}

/* Block content imported into this section */
.jinja-section {
  text-align: center;
  text-decoration: underline;
  padding-top: 20px;
  padding-bottom: 20px;
}

.jinja-section h1 {
  font-size: 3.4em;
}

.linear-gradients .row {
  margin-bottom: 0;
}

.adv-divider {
  color: #fff;
  margin: 20px 10px;
}

/* Hero Cards */

.container .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.herocard {
  margin: 20px;
  padding-bottom: 5px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.herocard:hover {
  -webkit-box-shadow: 8px 8px 30px 4px rgba(85, 85, 85, 1);
  box-shadow: 8px 8px 30px 4px rgba(85, 85, 85, 1);
}

.hero-card ul {
  cursor: pointer;
}

/* Negating effects of Materialize css (Since a parent has a border-box) */
.collapsible {
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}

/* Border styles are negating Materialize css */
.collapsible-header,
.collapsible-body {
  width: 100%;
  padding: 5px;
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}

.herocard h2 {
    font-size: 2.3em;
}

.herocard p {
    font-size: 1.1em;
}

.header-content {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Helmet container */
.header-content .helmet {
  float: left;
  height: 100%;
  width: 18%;
  left: 0;
  padding: 0;
}

/* h4 next to Helmet */
.header-content h4 {
  font-size: 1.5em;
  font-weight: 300;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  float: left;
  width: 75%;
  line-height: 1.5;
  margin: 0px;
  margin-right: 10px;
  padding: 0;
}

.header-content h4 i,
.header-content h4 span {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.card-text {
  font-size: 0.9em;
  line-height: 1.5;
  width: 100%;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.card-text i,
.card-text span {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

/* Card-Footer */

.card-action {
  padding-bottom: 5px;
}

/* Modal */

.modal {
  padding: 1px;
}

/* Forms */

.form {
  padding: 10px;
}

/* Footer */

.adventure-footer {
  padding: 10px 0px;
}

.the-real-footer {
  height: 100px;
}

.the-real-footer p {
  display: block;
  margin: 0 auto;
  font-size: 2.5em;
}

/* Medium screens below 992 */
@media screen and (max-width: 992px) {
}

/* Small screens */
@media screen and (max-width: 600px) {
  .link-text,
  .link-text i,
  .link-text span {
    font-size: 1.2em;
  }

  .caption1 {
    font-size: 3.6em;
  }

  .brand-logo {
    margin: 0;
  }

  .header-content h4,
  .header-content h4 i,
  .header-content h4 span {
    font-size: 0.9em;
  }

  .card-text {
    font-size: 0.8em;
  }
}

/* Smallest screens, minimizing text for the smallest screen sizes */
@media screen and (max-width: 400px) {
  .brand-logo {
    margin: 0;
    font-size: 0.7em;
  }

  .link-text,
  .link-text i,
  .link-text span {
    padding: 2px;
    margin-right: 0px;
  }

  .header-content h4,
  .header-content h4 i,
  .header-content h4 span {
    font-size: 0.8em;
  }
  
  .card-text {
    font-size: 0.7em;
  }
}