/* General and Nav */

* {
  font-family: "Special Elite", cursive;
  margin: 0;
  padding: 0;
}

.link-text i,
.link-text span,
.brand-logo {
  font-size: 1.3em;
}

.brand-logo {
  margin-left: 20px;
}

/* Slider Section */

.caption1 {
  font-family: "Grenze Gotisch", cursive;
  text-transform: capitalize;
  font-size: 3.7em;
  font-weight: 500;
  text-shadow: 3px 2px #aaa;
}

.caption2 {
  font-family: "Grenze Gotisch", cursive;
  font-size: 2.2em;
  font-weight: 300;
  text-shadow: 1px 1px #aaa;
}

.linear-gradient {
  background: repeating-linear-gradient(
    0.35turn,
    #f0f4c3,
    #9c98dd 35%,
    #f0f4c3 65%
  );
}

.jinja-section {
  /* Block content imported into this section */
  text-align: center;
  text-decoration: underline;
  padding-top: 20px;
  padding-bottom: 20px;
}

.jinja-section h1 {
  font-size: 3.4em;
}

.linear-gradients .row {
  margin-bottom: 0;
}

.adv-divider {
  color: #fff;
  margin: 20px 10px;
}

/* Hero Cards */

.container .row {
  justify-content: space-around;
}

.herocard {
  margin: 20px;
  padding-bottom: 5px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.herocard:hover {
  -webkit-box-shadow: 8px 8px 30px 4px rgba(85, 85, 85, 1);
  -moz-box-shadow: 8px 8px 30px 4px rgba(85, 85, 85, 1);
  box-shadow: 8px 8px 30px 4px rgba(85, 85, 85, 1);
}

.hero-card ul {
  cursor: pointer;
}

.header-content .helmet {
  float: left;
  height: 100%;
  width: 18%;
  left: 0;
  padding: 0;
}

.collapsible {
  /* Negating effects of Materialize css (Since a parent has a border-box) */
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  -moz-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}

.collapsible-header,
.collapsible-body {
  /* Border styles are negating Materialize css */
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  -moz-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}

.header-content {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-content h4 {
  font-size: 0.9em;
  font-weight: 300;
  text-overflow: ellipsis;
  float: left;
  width: 75%;
  line-height: 2;
  margin: 0px;
  margin-top: 5px;
  margin-right: 10px;
  padding: 0;
}

.header-content h4 i,
.header-content h4 span {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

.card-text {
  float: left;
  font-size: 0.9em;
  width: 70%;
  text-overflow: ellipsis;
  margin: 6px;
  margin-right: 0;
  padding: 0;
}

.card-text i,
.card-text span {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

.card-action {
  padding-bottom: 5px;
}

/* Card-Footer */

.button-wrap {
  width: 100%;
  padding: 5px;
}

.button-wrap button {
  display: block;
  margin: 0 auto;
}

/* Modal */

.modal {
  padding: 1px;
}

/* Forms */

.form {
  padding: 10px;
}

/* Footer */

.adventure-footer {
  padding: 10px 0px;
}

.the-real-footer {
  height: 100px;
}

.the-real-footer p {
  display: block;
  margin: 0 auto;
  font-size: 2.5em;
}

/* Small screens */
@media screen and (max-width: 600px) {
  .caption1 {
    font-size: 3.6em;
  }
  .brand-logo {
    margin: 0;
  }
  .header-content h4,
  .header-content h4 i,
  .header-content h4 span {
    font-size: 0.9em;
    margin: 0;
  }
  .card-text {
    font-size: 0.8em;
    line-height: 2;
  }
}

/* Smallest screens, minimizing text for the smallest screen sizes */
@media screen and (max-width: 400px) {
  .brand-logo {
    margin: 0;
    font-size: 0.7em;
  }
  .header-content h4,
  .header-content h4 i,
  .header-content h4 span {
    font-size: 0.8em;
  }
  .card-text {
    font-size: 0.7em;
  }
}
