{% extends 'base.html'%} {% block content %}

<h1>{{ view_header }}</h1>
<div class="container">
	<div class="row">
		<div class="col s12">
			<form action="{{ url_for('insert_adventure') }}" method="POST" class="form blue-grey darken-1">
				<div class="row">
					<div class="input-field col s12 white-text">
						<input
                            id="adventure_name"
                            name="adventure_name"
                            type="text"
                            class="validate" required
                        />
		                <label for="adventure_name"
                        ><i class="fas fa-chess-rook"></i> Adventure Name</label>
					</div>
					<div class="input-field col s12 white-text">
						<textarea
                            id="adventure_topic"
                            name="adventure_topic"
                            class="materialize-textarea" required
                        ></textarea>
						<label for="adventure_topic">
                            <i class="fas fa-pen"></i> Story topic
                        </label>
					</div>
					<footer class="col s12 center">
						<button class="btn waves-effect" type="submit" name="action">
                            <i class="fas fa-envelope"></i> Add Adventure
                        </button>
					</footer>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}