{% extends 'base.html' %} {% block content %}

<h1>{{ view_header }}</h1>
<div class="container">
	<div class="row">
		<div class="col s12">
			<form action="{{ url_for('update_hero', hero_id=hero._id) }}" method="POST"
				class="form blue-grey darken-1 grey-text text-lighten-3">
				<div class="row">
					<div class="input-field col s12">
						<select id="adventures" name="adventure_name">
                            <option value="" disabled selected>Pick your Adventure</option>
                            {% for mission in adventures %} {% if mission.adventure_name ==
                            hero.adventure_name %}
                            <option value="{{mission.adventure_name}}" selected
                              >{{mission.adventure_name}}</option
                            >
                            {% else %}
                            <option value="{{mission.adventure_name}}"
                              >{{mission.adventure_name}}</option
                            >
                            {% endif %} {% endfor %}
                        </select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="fas fa-pen prefix"></i>
						<input
                            id="hero_name"
                            name="hero_name"
                            type="text"
                            class="validate"
                            value="{{hero.hero_name}}" required
                        />
						<label for="hero_name">Hero Name</label>
					</div>
					<div class="input-field col s12">
						<i class="fas fa-fist-raised prefix"></i>
						<input
                            name="weapon"
                            id="weapon"
                            type="text"
                            class="validate"
                            value="{{hero.weapon}}" required
                        />
						<label for="weapon">Hero weapon</label>
					</div>
					<div class="input-field col s12">
						<i class="fas fa-shield-alt prefix"></i>
						<input
                            name="armor"
                            id="armor"
                            type="text"
                            class="validate"
                            value="{{hero.armor}}" required
                        />
						<label for="armor">Hero armor</label>
					</div>
					<div class="input-field col s12">
						<i class="fas fa-user prefix"></i>
						<input
                            name="race"
                            id="race"
                            type="text"
                            class="validate"
                            value="{{hero.race}}" required
                        />
						<label for="race">Hero race</label>
					</div>
					<div class="input-field col s12">
						<i class="fas fa-wrench prefix"></i>
						<input
                            name="profession"
                            id="profession"
                            type="text"
                            class="validate"
                            value="{{hero.profession}}" required
                        />
						<label for="profession">Hero profession</label>
					</div>
					<div class="input-field col s12">
						<i class="fas fa-home prefix"></i>
						<input
                            name="home"
                            id="home"
                            type="text"
                            class="validate"
                            value="{{hero.home}}" required
                        />
						<label for="home">Hero home</label>
					</div>
					<div class="input-field col s12">
						<i class="fas fa-horse prefix"></i>
						<input
                            name="mount"
                            id="mount"
                            type="text"
                            class="validate"
                            value="{{hero.mount}}" required
                        />
						<label for="mount">Hero mount</label>
					</div>
					<div class="input-field col s12">
						<i class="fas fa-shopping-bag prefix"></i>
						<textarea name="possessions" id="possessions" class="materialize-textarea" maxlength="80" required>{{hero.possessions}}</textarea>
						<label for="possessions">Hero possessions</label>
					</div>
					<footer class="col s12 center">
						<button class="btn waves-effect" type="submit" name="action">
                            <i class="fas fa-envelope"></i> Submit Changes
                        </button>
					</footer>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}